<!DOCTYPE html>
<html>
  <head>
        <title>EmAid</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
		<!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
		
		
		<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
		<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />


		<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" /> 
		<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
		<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
		<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
		<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>

		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />

		<script type="text/javascript" src="libs/hereAppIdAndToken.js"></script>
		<script type="text/javascript" src="libs/jQl.min.js"></script>


		<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
		<!-- <link rel="stylesheet" type="text/css" href="css/demo.css" /> -->
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
		<link rel="stylesheet" type="text/css" href="css/template.css" />
		<script type="text/javascript" src='css/test-credentials.js'></script>    
		<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
		<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
		<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
		<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>

        <script type="text/javascript" src='../js-examples-rendering-helpers/iframe-height.js'></script></head> 

    <style type="text/css">
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
        .log {
            position: absolute;
            top: 5px;
            left: 5px;
            height: 150px;
            width: 250px;
            overflow: scroll;
            background: white;
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 12px;
        }
        .log-entry {
            padding: 5px;
            border-bottom: 1px solid #d0d9e9;
        }
        .log-entry:nth-child(odd) {
            background-color: #e1e7f1;
        }
        #map {
            position:absolute; 
            top:0; 
            bottom:0; 
            width:100%; 
            height: 100%;
        }
        #panel {    
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body id="markers-on-the-map">
    <div id="map"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYWFyc2hpY2giLCJhIjoiY2sycnYyOW5hMHJsNzNpcWJudnJzYW8xaiJ9.8ABp1hlgXDQB8_PbJdZh3A';
            var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-96, 37.8], // starting position
            zoom: 8 // starting zoom
        });

        map.addControl(new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true
        }));
    </script>
    <script>
        function findNearestMarker(coords) {
            var minDist=5000,
                nearest_text = '*None*',
                markerDist,
                // get all objects added to the map
                objects = map.getObjects(),
                len = map.getObjects().length,
                i;

            // iterate over objects and calculate distance between them
            for(i=0;i<len;i+=1) {
                markerDist=objects[i].getGeometry().distance(coords);
                if(markerDist<minDist) {
                    minDist=markerDist;
                    nearest_text=objects[i].getData();
                }
            }
            window.location.href = nearest_text;s
            console.log(nearest_text);
        }

        function addClickEventListenerToMap(map) {
            // add 'tap' listener
            map.addEventListener('tap', function (evt) {
                var coords =  map.screenToGeo(evt.currentPointer.viewportX, evt.currentPointer.viewportY);
                findNearestMarker(coords);
            }, false);
        }

        //Step 1: initialize communication with the platform
        // In your own code, replace variable window.apikey with your own apikey
        var platform = new H.service.Platform({
            apikey: 'eqtzSx40jTVRuy-x7e_SVz8mozEzgfMES4oYaiBh3Us'
        });
        var defaultLayers = platform.createDefaultLayers();

        //Step 2: initialize a map
        var map = new H.Map(document.getElementById('map'),
        defaultLayers.vector.normal.map,{
            center: {lat:12.9597286, lng:77.6492317},
            zoom: 12,
            pixelRatio: window.devicePixelRatio || 1
        });
        // add a resize listener to make sure that the map occupies the whole container
        window.addEventListener('resize', () => map.getViewPort().resize());

        //Step 3: make the map interactive
        // MapEvents enables the event system
        // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
        var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    //     // Step 4: create custom logging facilities
        // var logContainer = document.createElement('ul');
        // logContainer.className ='log';
        // logContainer.innerHTML = '<li class="log-entry">Try clicking on the map</li>';
        // map.getElement().appendChild(logContainer);

        // Helper for logging events
        function logEvent(str) {
            var entry = document.createElement('li');
            entry.className = 'log-entry';
            entry.textContent = str;
            logContainer.insertBefore(entry, logContainer.firstChild);
        }

        // Set up five markers.
        var coords = [{ lat:12.9597286, lng:77.6492317},
        { lat: 12.9606014, lng: 77.6416119 },
        { lat: 12.9493905, lng: 77.64373952631189 },
        { lat: 12.9362306, lng: 77.6254307 },
        { lat: 12.9302645, lng: 77.6332585}];

        //Create the svg mark-up
        var svgMarkup = '<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">' +
            '<rect stroke="white" fill="#1b468d" x="1" y="1" width="22" height="22" />' +
            '<text x="12" y="18" font-size="12pt" font-family="Arial" font-weight="bold" ' +
            'text-anchor="middle" fill="white">${REPLACE}</text></svg>';

        coords.forEach(function (value, index) {
            var myIcon = new H.map.Icon(svgMarkup.replace('${REPLACE}', index + 1)),
            marker = new H.map.Marker(value,  {
                icon: myIcon,
                volatility: true
        });
        // add custom data to the marker
        marker.setData(index + 1);

        // set draggable attribute on the marker so it can recieve drag events
        marker.draggable = true;
        map.addObject(marker);
        });


        // simple D'n"D implementation for markers"'
        map.addEventListener('dragstart', function(ev) {
            var target = ev.target;
            if(target instanceof H.map.Marker) {
                behavior.disable();
            }
        }, false);

        map.addEventListener('drag', function(ev) {
            var target = ev.target,
                pointer = ev.currentPointer;
            if (target instanceof H.map.Marker) {
                target.setGeometry(map.screenToGeo(pointer.viewportX, pointer.viewportY));
            }
        }, false);

        map.addEventListener('dragend', function(ev) {
            var target = ev.target;
            if (target instanceof H.map.Marker) {
                behavior.enable();
            }
        }, false);

        // Add the click event listener.
        addClickEventListenerToMap(map);
    </script>
  </body>
</html>
